.mphil-container{
    height: auto;
}
.mphil{
    display: flex;
}
.left-mphil{
    flex-basis: 70%;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (max-width:961px)  {
    .left-honours{
        flex-basis: 70%;
        padding: 1.6rem;
    }
 }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (max-width:641px)  { 
    .mphil{
        display: flex;
        flex-direction: column;
    }
    .left-honours{
        flex-basis: 70%;
        padding: 1.2rem;
    }
    .left-honours h1{
        font-size: 1.5rem;
    }
}
 /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media screen and (max-width:481px)  { }

/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (max-width:320px)  { }