.mission-container{
    height: auto;
}
.mission{
    display: flex;
}
.left-mission{
    flex-basis: 75%;
    padding: 4rem;
}
.right-mission{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    line-height: 2rem;
}
.right-mission span{
    display: flex;
    align-items: center;
}
.about-bar{
    border-bottom: 2.2px solid rgb(255, 157, 0);
    width: 1.3rem;
    margin-right: .3rem;
}
.history-link{
    transition: .2s ease-in;
    margin-left: 2rem;
}
.history-link:hover{
    color: rgb(255, 153, 0);
    scale: 1.06;
}

/* -----MEDIA QUERIES----- */
/*max-width style*/

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (max-width:961px)  { }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (max-width:641px)  { 
    .mission{
        display: flex;
        flex-direction: column;
    }
    .left-mission{
        flex-basis: 100%;
        padding: 1.5rem;
    }
    .right-mission{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        line-height: 2rem;
    }
}

 /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media screen and (max-width:481px)  { }

/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (max-width:320px)  { }