/* font-family: 'Lobster', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root{
  --color-bg:#1f1f38;
  --color-bg-variant:#2c2c6c;
  --color-primary:#4db5ff;
  --color-primary-variant:rgba(77, 181,255,0.4);
  --color-white:#fff;
  --color-light:rgba(255, 255,255,0.6);
  --color-yellow:rgb(255, 162, 0);

  --transition: all 400ms ease;
  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:90%;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
body{
  font-family: 'Roboto Slab', serif;
  font-weight:'';
  background-color: var(--color-white);
  color: black;
  line-height: '';
  /* background-image: url(''); */
  /* height:'100vh';
     display:flex;
     justify-content:center;
     align-items:center;	
 */
}

/*------- GENERAL STYLES -------*/

.container{
  
}
h1,h2,h3,h4,h5,h6{
  font-weight: 100;
}
h1{
  font-size: '';
}
a{
  color: black;
  transition: var(--transition);
}
/* a:hover{
  color: rgb(255, 170, 0);
} */
.btn{
  padding: '';
  color: '';
  border: '';
  cursor: pointer;
  border-radius: 0.4rem;
}
.btn:hover{
  color: '';
  background-color: '';
  border-color:'' ;
}
img{
  display: '';
  width: 100%;
  object-fit: cover;
}

.navbar{
  position: -webkit-sticky; 
  position: sticky;
  top: -4rem;
  z-index: 1;
} 



/* -----MEDIA QUERIES----- */
/*max-width style*/

/* hi-res laptops and desktops */
@media screen and (max-width:1281px) { }

 /* big landscape tablets, laptops, and desktops */
@media screen and (max-width:1025px) { }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (max-width:961px)  { }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (max-width:641px)  { }

 /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media screen and (max-width:481px)  { }

/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (max-width:320px)  { }



/* -----MEDIA QUERIES----- */
/*max-width style*/

/* hi-res laptops and desktops */
@media screen and (max-width:1281px) {  }

 /* big landscape tablets, laptops, and desktops */
@media screen and (max-width:1025px) { }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (max-width:961px)  { 
  .navbar{
    position: -webkit-sticky; 
    position: sticky;
    top: 0rem;
    z-index: 1;
  } 
 }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (max-width:641px)  {
 }

 /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media screen and (max-width:481px)  { }

/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (max-width:320px)  {

 }
